<div class="parent">
  <h1>Resize the shape</h1>
  <input (change)="resize(widthInput, heightInput)" type="number" placeholder="width" value="50" #widthInput/>
  <input (change)="resize(widthInput, heightInput)" type="number" placeholder="height" type="number" value="50" #heightInput/>

  <div class="shape" [style.background-color]="color" [style.width]="width + 'px'" [style.height]="height + 'px'" #square></div>

  <button (click)="reset(widthInput, heightInput)">Reset</button>

  <select name="testselect" (change)="resizeSelect($event)" #select>
    <option *ngFor="let option of options; let i = index" value="{{i}}">
        w: {{option.width}} h: {{option.height}}
    </option>
  </select>

  <ng-container *ngIf="tooBig; else t">
      <div>Too big</div>
  </ng-container>

  <ng-template #t>
      <div>Keep goin...</div>
  </ng-template>
  
</div>
