.parent {
    border: 2px solid black;
    padding: 15px;
    margin-top: 50px;

    .shape {
        background-color:green;
        width: 50px;
        height: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    button {
        padding: 20px
    }
}